<div class="bg-white">
  <div class="cf mw8 center pa4">
    <div class="fl w-100 w-80-ns">
      {{#days}}
        <div class="mb5">
          <time>{{day}}</time>
          <div>
            <ul class="list pl0">
              {{#posts}}
                <li class="mb3">
                  <div class="mb1">
                    <a class="f4 near-black link underline-hover" href="{{url}}">
                      {{& title}}
                    </a>
                  </div>

                  <div>
                    <a class="mr2 gray link underline-hover" href="{{source-url}}">
                      <span>{{source}}</span>
                    </a>

                    <span class="gray mr2">
                      {{#author-url}}
                        <a href="{{author-url}}" class="link gray underline-hover">{{author}}</a>
                      {{/author-url}}
                      {{^author-url}}
                        {{author}}
                      {{/author-url}}
                    </span>

                    {{#comments}}
                      <a class="link gray underline-hover mr2" href="{{comments-url}}">
                        {{comments}} comments
                      </a>
                    {{/comments}}

                    {{#answers}}
                      <span class="gray mr2">
                        {{answers}}
                      </span>
                    {{/answers}}

                    {{#replies}}
                      <span class="gray mr2">
                        {{replies}}
                      </span>
                    {{/replies}}
                  </div>
                </li>
              {{/posts}}
            </ul>
          </div>
        </div>
      {{/days}}
    </div>
    <div class="fl w-100 w-20-ns">
      <div class="mb4">
        <div class="bg-lightest-blue navy pv3 tc">
          <span class="lh-title">
            <div class="ph3 tl">
              <div class="tl mb3">Latest release</div>
              <a class="blue tl" href="https://search.maven.org/artifact/org.clojure/clojure/{{version}}/jar">{{version}}</a>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>