@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-Bold.ttf');
  font-weight: bold;
}
